In [1]:
import numpy as np

# Input: expects 3xN matrix of points
# Returns R,t
# R = 3x3 rotation matrix
# t = 3x1 column vector

def rigid_transform_3D(A, B):
    assert A.shape == B.shape

    num_rows, num_cols = A.shape
    if num_rows != 3:
        raise Exception(f"matrix A is not 3xN, it is {num_rows}x{num_cols}")

    num_rows, num_cols = B.shape
    if num_rows != 3:
        raise Exception(f"matrix B is not 3xN, it is {num_rows}x{num_cols}")

    # find mean column wise
    centroid_A = np.mean(A, axis=1)
    centroid_B = np.mean(B, axis=1)

    # ensure centroids are 3x1
    centroid_A = centroid_A.reshape(-1, 1)
    centroid_B = centroid_B.reshape(-1, 1)

    # subtract mean
    Am = A - centroid_A
    Bm = B - centroid_B

    H = Am @ np.transpose(Bm)

    # sanity check
    #if linalg.matrix_rank(H) < 3:
    #    raise ValueError("rank of H = {}, expecting 3".format(linalg.matrix_rank(H)))

    # find rotation
    U, S, Vt = np.linalg.svd(H)
    R = Vt.T @ U.T

    # special reflection case
    if np.linalg.det(R) < 0:
        print("det(R) < R, reflection detected!, correcting for it ...")
        Vt[2,:] *= -1
        R = Vt.T @ U.T

    t = -R @ centroid_A + centroid_B

    return R, t

In [2]:
import pandas as pd

gcp = pd.read_csv("point_scanner_2.txt", sep=' ', index_col=0)
gcp

                 x           y           z
Sphere
1       -82.710228  132.319294 -143.493456
2       -88.837874  115.463071 -143.324929
3      -109.475067  137.092173 -143.150294
4      -140.819712   99.850012 -143.720015
5      -157.033742  104.765624 -144.129051
6      -169.764104  100.844141 -143.621455
7      -209.558680  104.652368 -143.763830
8      -226.399104  105.402116 -143.270310
9      -238.953785  115.976025 -143.377745
10     -231.338528 -439.664311 -142.460686
11     -225.301044 -448.714905 -142.623185
12     -217.229721 -440.053907 -142.818189
13     -392.732734 -578.277384 -141.526897
14     -387.034557 -559.244268 -141.544864
15     -397.233438 -569.140324 -141.859965
16     -755.818047 -716.240315 -138.134307
17     -748.232160 -716.691201 -138.120856
18     -749.280746 -723.882506 -137.005953

In [4]:
# sphere radius: 0.3773 ft
# pole height: 4.3229166667 ft

# adjust control points to ground
gcp.loc[:, 'z'] -= (0.3773 + 4.3229166667)
gcp_scanner = gcp.copy()
gcp_scanner

                 x           y           z
Sphere
1       -82.710228  132.319294 -148.193673
2       -88.837874  115.463071 -148.025146
3      -109.475067  137.092173 -147.850511
4      -140.819712   99.850012 -148.420232
5      -157.033742  104.765624 -148.829268
6      -169.764104  100.844141 -148.321672
7      -209.558680  104.652368 -148.464047
8      -226.399104  105.402116 -147.970527
9      -238.953785  115.976025 -148.077962
10     -231.338528 -439.664311 -147.160903
11     -225.301044 -448.714905 -147.323402
12     -217.229721 -440.053907 -147.518406
13     -392.732734 -578.277384 -146.227114
14     -387.034557 -559.244268 -146.245081
15     -397.233438 -569.140324 -146.560182
16     -755.818047 -716.240315 -142.834524
17     -748.232160 -716.691201 -142.821073
18     -749.280746 -723.882506 -141.706170

In [5]:
gcp_global = pd.read_csv("Hoboken_control_with_accuracy.csv", index_col=0)
gcp_global

                  lon          lat  orthoheight  h_accuracy  v_accuracy
OBJECTID
1         623205.6986  693359.2726     4.593400    0.005000       0.007
2         623198.4926  693342.7713     4.380135    0.007810       0.013
3         623179.3188  693365.8054     4.534342    0.007211       0.011
4         623145.5895  693330.6326     4.045473    0.007211       0.011
5         623129.7283  693336.5529     3.851894    0.005831       0.009
6         623116.7280  693333.5158     3.970010    0.007211       0.010
7         623077.3298  693339.8872     3.983134    0.008062       0.011
8         623060.5526  693341.7779     4.081564    0.007810       0.011
9         623048.7078  693353.1365     3.999539    0.007211       0.010
10        623019.6370  692798.3125     5.574419    0.005657       0.011
11        623025.0720  692788.8512     5.518642    0.005000       0.010
12        623033.7341  692796.9867     5.548171    0.006403       0.012
13        622849.3942  692670.8419     6.516066    0.006403       0.009
14        622856.3942  692689.4518     6.565281    0.007810       0.010
15        622845.5343  692680.3229     6.555438    0.009220       0.013
16        622477.9888  692557.2329    10.518886    0.014213       0.021
17        622485.5423  692556.3382    10.436861    0.012042       0.017
18        622484.0974  692549.2336    11.795195    0.014213       0.022
19        622962.3025  693090.9388    59.848721    0.007810       0.012
20        622960.1991  693169.8006    60.189945    0.005657       0.009
21        623035.8040  693060.3313    58.667561    0.006403       0.012
22        623105.6651  693036.7267    53.808400    0.006403       0.011
23        623106.8645  693001.5981    59.766696    0.006403       0.011
24        623197.6508  693046.9038    58.096667    0.004243       0.007
25        623301.9452  693313.2904    58.631470    0.004243       0.007

# gcp 1-6

In [6]:
A = np.array(gcp_scanner.loc[1:6, ['x', 'y', 'z']]).T
B = np.array(gcp_global.loc[1:6, ['lon', 'lat', 'orthoheight']]).T

[ret_R, ret_t] = rigid_transform_3D(A, B)

# Compare the recovered R and t with the original
B2 = (ret_R@A) + ret_t

n = A.shape[1]

# Find the root mean squared error
err = B2 - B
err = err * err
err = np.sum(err)
rmse = np.sqrt(err/n)

rmse

0.1705644380439684

# gcp 1-9

In [8]:
A = np.array(gcp_scanner.loc[1:9, ['x', 'y', 'z']]).T
B = np.array(gcp_global.loc[1:9, ['lon', 'lat', 'orthoheight']]).T

[ret_R, ret_t] = rigid_transform_3D(A, B)

# Compare the recovered R and t with the original
B2 = (ret_R@A) + ret_t

n = A.shape[1]

# Find the root mean squared error
err = B2 - B
err = err * err
err = np.sum(err)
rmse = np.sqrt(err/n)

rmse

0.16474414140249316

# gcp 10-12

In [9]:
A = np.array(gcp_scanner.loc[10:12, ['x', 'y', 'z']]).T
B = np.array(gcp_global.loc[10:12, ['lon', 'lat', 'orthoheight']]).T

[ret_R, ret_t] = rigid_transform_3D(A, B)

# Compare the recovered R and t with the original
B2 = (ret_R@A) + ret_t

n = A.shape[1]

# Find the root mean squared error
err = B2 - B
err = err * err
err = np.sum(err)
rmse = np.sqrt(err/n)

rmse

0.02236254919696122

# gcp 1-12

In [10]:
A = np.array(gcp_scanner.loc[1:12, ['x', 'y', 'z']]).T
B = np.array(gcp_global.loc[1:12, ['lon', 'lat', 'orthoheight']]).T

[ret_R, ret_t] = rigid_transform_3D(A, B)

# Compare the recovered R and t with the original
B2 = (ret_R@A) + ret_t

n = A.shape[1]

# Find the root mean squared error
err = B2 - B
err = err * err
err = np.sum(err)
rmse = np.sqrt(err/n)

rmse

0.16160300333954894

# gcp 13-15

In [11]:
A = np.array(gcp_scanner.loc[13:15, ['x', 'y', 'z']]).T
B = np.array(gcp_global.loc[13:15, ['lon', 'lat', 'orthoheight']]).T

[ret_R, ret_t] = rigid_transform_3D(A, B)

# Compare the recovered R and t with the original
B2 = (ret_R@A) + ret_t

n = A.shape[1]

# Find the root mean squared error
err = B2 - B
err = err * err
err = np.sum(err)
rmse = np.sqrt(err/n)

rmse

det(R) < R, reflection detected!, correcting for it ...

0.020970157295183225

# gcp 1-15

In [12]:
A = np.array(gcp_scanner.loc[1:15, ['x', 'y', 'z']]).T
B = np.array(gcp_global.loc[1:15, ['lon', 'lat', 'orthoheight']]).T

[ret_R, ret_t] = rigid_transform_3D(A, B)

# Compare the recovered R and t with the original
B2 = (ret_R@A) + ret_t

n = A.shape[1]

# Find the root mean squared error
err = B2 - B
err = err * err
err = np.sum(err)
rmse = np.sqrt(err/n)

rmse

0.20387722097216635

# gcp 16-18

In [13]:
A = np.array(gcp_scanner.loc[16:18, ['x', 'y', 'z']]).T
B = np.array(gcp_global.loc[16:18, ['lon', 'lat', 'orthoheight']]).T

[ret_R, ret_t] = rigid_transform_3D(A, B)

# Compare the recovered R and t with the original
B2 = (ret_R@A) + ret_t

n = A.shape[1]

# Find the root mean squared error
err = B2 - B
err = err * err
err = np.sum(err)
rmse = np.sqrt(err/n)

rmse

0.012394192030031127

# gcp 1-18

In [14]:
A = np.array(gcp_scanner.loc[1:18, ['x', 'y', 'z']]).T
B = np.array(gcp_global.loc[1:18, ['lon', 'lat', 'orthoheight']]).T

[ret_R, ret_t] = rigid_transform_3D(A, B)

# Compare the recovered R and t with the original
B2 = (ret_R@A) + ret_t

n = A.shape[1]

# Find the root mean squared error
err = B2 - B
err = err * err
err = np.sum(err)
rmse = np.sqrt(err/n)

rmse

0.24639673988350974